S3method(predict,polyFit)
S3method(predict,FSR)
S3method(summary,FSR)
export(FSR)
export(getPoly)
export(polyFit)
export(toFactors)
importFrom(dummies,dummy)
importFrom(nnet,multinom)
importFrom(parallel,clusterEvalQ,clusterExport,clusterApply)
importFrom(partools,distribsplit)
importFrom(RSpectra,eigs)
importFrom(utils,data)
importFrom(stats,glm,alias,as.formula,binomial,coefficients,
             cor,cov,formula,lm,model.matrix,prcomp,
             predict,sd,relevel)
importFrom(utils,combn,timestamp)
